.makeStyles-layout-2 {
    margin-top: 150px;
}

.carousel .slide img {
    height: 500px;
}

.makeStyles-layout-504 {
    margin-top: 150px;
}

/* .MuiButton-root {
    background-color: #FFA105 !important;
} */