.makeStyles-layout-2 {
    margin-top: 150px;
}

.carousel .slide img {
    height: 500px;
}

.makeStyles-layout-504 {
    margin-top: 150px;
}

.jss505 {
    margin-top: 90px;
}

.makeStyles-logoImage-28 {
    border-radius: 0 !important;
}

/* 
.MuiButton-root {
    background-color: #FFA105 !important;
} */